{%extends "patients/index.html"%}
{%load crispy_forms_tags%}
{%block content%}
<div class="ui segment" style="margin: 0 20em 1em 20em; padding-bottom: 0.8em;">
  <form method="POST" class="ui equal width form">
    {% csrf_token %}
    <div class="field" style="border: none; padding: 0.5em;">
      Already have an account?<span style="margin:0 0.3em;">➡️</span><a href="{%url 'chpstaff_login'%}">Log In</a>
      <div class="ui divider"></div>
      <h2 style="margin-top: 0.5em;">Create your account now and help fighing the virus 😷</h2>
      {{ form|crispy }}
      <button class="ui button" type="submit">Sign Up</button>
    </div>
  </form>
</div>
{%endblock content%}