{% extends "patients/index.html" %}
{%load crispy_forms_tags%}
{% block content %}
<div class="ui divider"></div>
<div class="ui segment" style="margin:0 10em; padding: 1.5em;">
  <div class="ui segment" style="font-weight: 700; font-size: 1.2em; position: relative; padding: 0;">
    <a href="{%url 'trans_19_patient' patientId %}">
      <div class="ui button" style="position:absolute; left:0px; margin: 0.6em 0 0 0.7em">Back</div>
    </a>
    <div class="cent" style="margin: 0 auto; text-align: center; padding: 1em 0;">👇 ADD NEW PATIENT VISIT 👇</div>
  </div>
  <form method="POST" class="ui equal width form">
    {% csrf_token %}
    <div class="field" style="border: none; padding: 0.5em;">
      {{ form|crispy }}
      <button class="ui button" type="submit">Create Visit</button>
    </div>
  </form>
</div>
{% endblock content %}
