{% extends "patients/index.html" %}
{% block content %}
<div class="ui divider"></div>
<div class="ui segment" style="margin:0 10em; padding: 1.5em;">
  <div class="ui segment" style="font-weight: 700; font-size: 1.2em; position: relative; padding: 0;">
    <a href="{%url 'trans_19_home'%}">
      <div class="ui button" style="position:absolute; left:0px; margin: 0.6em 0 0 0.7em">Back</div>
    </a>
    <div class="cent" style="margin: 0 auto; text-align: center; padding: 1em 0;">👇 DELETE PATIENT RECORD 👇</div>
  </div>
  <form method="POST" class="ui equal width form">
    {% csrf_token %}
    <h2 style="margin-top:1.5em; text-align: center;">Are you sure you want to delete this Patient - {{patient.name}}?
    </h2>
    <div style="border: none; padding: 0.5em; width: 50%; margin: 0 auto; text-align: center;">
      <button class="ui negative button" type="submit">Yes, delete this patient</button>
      <a class="ui primary button" type="submit" href="{%url 'trans_19_home'%}" style="margin-left: 0.2em;">No, take me
        back</a>
    </div>
  </form>
</div>
</div>
{% endblock content %}