<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
  {% if title %}
  <title>Trans-19</title>
  {% else %}
  <title>Trans-19-NL</title>
  {% endif %}
</head>

<body style="background-color: rgb(245, 245, 245);">
  <div class="ui segment" style="background-color: white; box-shadow: 0px 4px 6px grey;">
    <div class="ui secondary menu" style="margin:0 1em;background-color: white;">
      <a class="item" style="font-size: larger;" href="{%url 'trans_19_home'%}">
        Trans-19
      </a>
      <div class="right menu">
        <a class="item" style="font-size: larger;" href="{%url 'trans_19_account'%}">
          Account
        </a>
        <a class="ui item" style="font-size: larger;">
          Logout
        </a>
      </div>
    </div>
  </div>
  {% block content %}{% endblock content %}
</body>

</html>