{% extends "patients/index.html" %}
{%load crispy_forms_tags%}
{% block content %}
<div class="ui divider"></div>
<div class="ui segment" style="margin:0 10em; padding: 1.5em;">
  <div class="ui segment" style="font-weight: 700; font-size: 1.2em; position: relative; padding: 0;">
    <a href="{%url 'trans_19_home'%}">
      <div class="ui button" style="position:absolute; left:0px; margin: 0.6em 0 0 0.7em">Back</div>
    </a>
    <div class="cent" style="margin: 0 auto; text-align: center; padding: 1em 0;">👇 CONNECTIONS 👇</div>
  </div>
  <div class="ui grid" style="margin-top: 1em;">
    <div class="eight wide column">
      <h3 class="ui header" style="text-align: center;">
        <i class="user circle outline icon"></i>Patient's details:
      </h3>
      <table class="ui celled table" style="text-align: center;">
        <thead>
          <tr>
            <th>Name</th>
            <th>Case Number</th>
            <th>Date of Confirmation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{patient.name}}</td>
            <td>{{patient.caseNum}}</td>
            <td>{{patient.dateConfi|date:"d-M-Y"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="eight wide column">
      <div class="ui segment">
        <form method="GET" class="ui equal width form">
          <div class="field" style="border: none;">
            {{ form|crispy }}
            <div style="text-align: center;">
              <button class="ui button" style="position: relative; top: 50%;" type="submit">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="ui divider" style="margin: 1.5em 0;"></div>
  <table class="ui celled table" style="text-align: center;">
    <thead>
      <tr>
        <th>Case Number</th>
        <th>Name</th>
        <th>Date Case Confirmed</th>
        <th>Common Location Visited</th>
        <th>Date Visited by this Patient</th>
        <th>Detail</th>
        <th>Date Visited by Selected Patient</th>
        <th>Detail</th>
      </tr>
    </thead>
    <tbody>
      {% for visit in visits %}
      {% for connection in visit.connections %}
      <tr class='patients' style="cursor:pointer;" onMouseOver="this.style.backgroundColor='rgb(240,240,240)'"
        onMouseOut="this.style.backgroundColor='rgb(255,255,255)'"
        data-href="{%url 'trans_19_patient' connection.patient.id %}">
        <td data-label="CaseNumber">{{connection.patient.caseNum}}</td>
        <td data-label="PatientName">{{connection.patient.name}}</td>
        <td data-label="DateConfitmation">{{connection.patient.dateConfi|date:"d-M-Y"}}</td>
        <td data-label="CommonLocationVisited">{{connection.location.name}}</td>
        <td data-label="DateVisitedByThisPatient">{{connection.date_From|date:"d-M-Y"}} -
          {{connection.date_To|date:"d-M-Y"}}</td>
        <td data-label="Detail1">{{connection.details}}</td>
        <td data-label="DateVisitedBySelectedPatient">{{visit.date_From|date:"d-M-Y"}} - {{visit.date_To|date:"d-M-Y"}}
        </td>
        <td data-label="Detail2">{{visit.details}}</td>
      </tr>
      {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const rows = document.querySelectorAll('tr[data-href]');
    rows.forEach(row => {
      row.addEventListener('click', () => window.location.href = row.dataset.href)
    });
  });
</script>
{% endblock content %}