{% extends "patients/index.html" %}
{% block content %}
<table class="ui celled table" style="text-align: center; margin-top: 2em;">
  <thead>
    <tr>
      <th>Location Visited</th>
      <th>Address</th>
      <th>District</th>
      <th>X Coord</th>
      <th>Y Coord</th>
      <th>Date From</th>
      <th>Date To</th>
      <th>Detail</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    {% for trip in trips %}
    <tr id='elements'>
      <td data-label="NameLocation">{{trip.name_Location}}</td>
      <td data-label="Address">{{trip.address}}</td>
      <td data-label="District">{{trip.district|capfirst}}</td>
      <td data-label="xCoord">{{trip.xCoord}}</td>
      <td data-label="yCoord">{{trip.yCoord}}</td>
      <td data-label="DateFrom">{{trip.date_From|date:"d-M-Y"}}</td>
      <td data-label="DateTo">{{trip.date_To|date:"d-M-Y"}}</td>
      <td data-label="Details">{{trip.details}}</td>
      <td data-label="Category">{{trip.category|capfirst}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}